/*CSS Reset*/
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding:0;  
font: inherit;
font-size:20px;
box-sizing: content-box; 
}

/*General Styles*/
*{
    max-width:100%;
    border: solid 2px gray; 
    max-height:100%;
    line-height:2;
}
html, body{
    height:100%;
}
h1{
    font-size:3em;
    padding-bottom: 1%;
}
h2{
    font-size:1.75em;
}
header{
    padding:3%; 
    color:#a0b7ba;
}



/*Header Styles starts here*/
.title{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: #182a41;
    height:5%;
}
.navBar{
    width:30%;
    display:flex;
    justify-content: space-evenly;
    flex-basis: auto;
    align-items:stretch;
    height:100%;
    background-color: #344966;
}
.navBar div{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar div:hover{
    background-color: #CBDBDD;
    color:#182a41;
}

/*About Section starts here*/
.about{
    display:flex;
    justify-content: center;
    align-items: center;        
    background-color: #092327;
    color:#a7baa0;
    height:80%;
}
.about img:hover{
    -webkit-filter: blur(6px);
}
.topImg{
    justify-content: center;
    align-items: center;
    display: flex;
    color: #000000;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.topImgButton{
    justify-content: center;
    align-items: center;
    display: flex;
    color: #000000;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:1%
}
/*Showcase Section starts here*/
.showcase{
    color:#a0b7ba;  
    height:100%;
    display:flex;
    flex-flow: row wrap;
    background-color: #182a41;
}

/*Footer starts here*/
.contact{
    height:15%;
    display:flex;
    justify-content: center;
    background-color: #092327;
    color:#a7baa0;
}